<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogToConsole="true">

    <extensions>
        <add assembly="NLog.Web.AspNetCore"/>
        <add assembly="NLog.Targets.ElasticSearch"/>
    </extensions>

    <variable name="NLogWinRootDir" value="C:/ProgramData/CarWebApi/Logs" />
    <variable name="NLogLinuxRootDir" value="/var/log/CarWebApi" />

    <variable name="Defaultlayout" value="${longdate}|${logger}[${threadid}]|${uppercase:${level}}|${message} ${exception}" />
    <variable name="IsLinusOs" value="" />
    <variable name="logDirectory" value="${when:when='${var:IsLinusOs}'=='False':inner=${var:NLogWinRootDir}/:else=${var:NLogLinuxRootDir}/}"/>
    <variable name="MaxArchiveDays" value="30"/>

    <targets>
        <target xsi:type="ElasticSearch"
                name="elastic"
                uri="http://localhost:9200"
                index="logs-${date:format=yyyy.MM.dd}"
                documentType=""
                includeDefaultFields="true"
                includeAllProperties="False"
                disableAutomaticProxyDetection="False">

            <field name="application" layout="${ApplicationName}" />
            <field name="machine" layout="${machinename}" />
            <field name="logger" layout="${logger}" />
            <field name="level" layout="${level}" />
            <field name="message" layout="${message}" />
            <field name="exception" layout="${exception:format=toString}" />
            <field name="stacktrace" layout="${stacktrace}" />
            <field name="threadid" layout="${threadid}" />
        </target>
        
        <target xsi:type="AtomicFile" encoding="UTF8" name="allfile" fileName="${logDirectory}/nlog-allfile-${date:format=yyyy-MM-dd}.log" layout="${Defaultlayout}"  maxArchiveFiles="${MaxArchiveDays}" keepFileOpen="false" concurrentWrites="true"  />
        <target xsi:type="AtomicFile" encoding="UTF8" name="msfile" fileName="${logDirectory}/nlog-ms-${date:format=yyyy-MM-dd}.log" layout="${Defaultlayout}"  maxArchiveFiles="${MaxArchiveDays}" keepFileOpen="false" concurrentWrites="true" />

        <target xsi:type="Console" encoding="UTF8" name="console" layout="${Defaultlayout}" />
    </targets>
    
    <rules>
        <logger name="*" minlevel="Error" writeTo="Console" />
        
        <logger name="*" minlevel="Info" writeTo="allfile" />
        <logger name="Microsoft.*" minlevel="Error" writeTo="msfile" final="true"/>

        <!--<logger name="*" minlevel="Error" writeTo="elastic" />
        <logger name="Microsoft.*" minlevel="Error" writeTo="elastic" final="true"/>-->
    </rules>
</nlog>