/.vs
/CarWebApi/bin
/CarWebApi/obj
/CarWebApi/appsettings.Development.json
/CarWebApi.Test/bin
/CarWebApi.Test/obj
/CarWebApi.Test/appsettings.Development.json
/TestResults/bf97eb11-731b-4077-9a6c-d3d4cd30c1af
